<template>
  <div class="col q-ma-xs q-gutter-y-xs">
    <div class="text-h4 q-mb-sm">Test QDate</div>
    <div class="row q-gutter-x-xs">
      <q-input
        class="col-xs-6 col-sm-3 col-md-2"
        label="First Name"
        v-model="firstname"
        ref="txtFirstName"
        outlined
        dense
      />
      <q-input
        class="col-xs-6 col-sm-3 col-md-2"
        label="Last Name"
        v-model="lastname"
        outlined
        dense
      />
      <q-input
        class="col-xs-6 col-sm-3 col-md-2"
        label="First Name"
        v-model="firstname"
        outlined
        dense
      />
    </div>
    <div class="row q-gutter-x-xs">
      <my-date
        class="col-xs-6 col-sm-3 col-md-2"
        outlined
        dense
        label="Date of Birth"
        v-model="dofb"
        @blur="logDateValue"
      />
      <q-input
        class="col-xs-6 col-sm-3 col-md-2"
        label="Social Secur Numb"
        v-model="ssn"
        ref="ssninput"
        mask="###-##-####"
        unmasked-value
        outlined
        dense
      />
    </div>
    <div class="row q-gutter-x-xs">
      <q-currency-input
        class="col-xs-6 col-sm-3 col-md-2"
        v-model="income"
        ref="txtincome"
        :options="{ currency: 'USD', precision: 2 }"
        outlined
        dense
        input-class="text-right"
      />
      <span tabindex="99" @focus="focusFirst">IGT</span>
    </div>
    <div class="row q-gutter-x-xs">SSN:{{ ssn }} Income:{{ income }}</div>
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue";
import MyDate from "../components/MyDate.vue";
import QCurrencyInput from "../components/QCurrencyInput.vue";

// Referencias a los html elements
//        @keydown.tab="focusFirst"
// v-on:keydown.tab="focusFirst"

const firstname = ref("");
const lastname = ref("");
const dofb = ref("");
const ssn = ref("");
const income = ref(0);
const ssninput = ref(null);
const txtincome = ref(null);
const txtFirstName = ref(null);
const firstSpan = ref(null);

// Mostrar valores
function logDateValue() {
  console.log("Date value is:", dofb.value);
}

// Focus on first element of form
function focusFirst() {
  txtFirstName.value.$el.focus();
  console.log("focusFirst");
}

// Para el money reader ver
// https://codesandbox.io/s/using-vue-currency-input-with-quasar-cjqgk?file=/src/components/QCurrencyInput.vue

// Cuando el componente es montado en el browser
onMounted(() => {
  focusFirst();
  //ssninput.value.$el.focus();
  //txtincome.value.$el.value = "";
  //txtincome.value.$el.focus();
});
</script>
