<template>
  <div class="q-ma-xs q-gutter-xs">
    <div class="text-h4 q-mb-sm">Agregar Cliente</div>
    <div class="row q-gutter-x-sm">
      <q-input label="Nombre" v-model="nombre" outlined dense autofocus />
      <q-input label="Apellido" v-model="apellido" outlined dense />
    </div>
    <div class="row q-gutter-x-sm">
      <q-input label="Calle" outlined dense />
      <q-input label="Numero Exterior" outlined dense />
      <q-input label="Numero Interior" outlined dense />
      <q-input label="Colonia" outlined dense />
    </div>
  </div>
  <h1>{{ msg }}</h1>
  <button @click="count++">count is: {{ count }}</button>
  <p>Edit <code>pages/HelloWorld.vue</code> to test hot module replacement.</p>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  data() {
    return {
      count: 0,
      nombre: "",
      apellido: "",
    };
  },
};
</script>
