<template>
  <div class="q-ma-xs q-gutter-xs">
    <div class="text-h4 q-mb-sm">Agregar Cliente</div>
    <div class="row q-gutter-x-sm">
      <q-input
        outlined
        dense
        autofocus
        label="Nombre"
        v-model="cliente.nombre"
      />
      <q-input outlined dense label="Apellido" v-model="cliente.apellido" />
    </div>
    <div class="row q-gutter-x-sm">
      <q-input outlined dense label="Calle" v-model="cliente.calle" />
      <q-input
        outlined
        dense
        label="Numero Exterior"
        v-model="cliente.numext"
      />
      <q-input
        outlined
        dense
        label="Numero Interior"
        v-model="cliente.numint"
      />
      <q-input outlined dense label="Colonia" v-model="cliente.colonia" />
    </div>
    <!-- <div class="row">
      <mi-fecha v-model="cliente.fnac" />
    </div> -->
    <!-- Boton para mostrar datos -->
    <div class="row q-pt-md justify-center">
      <q-btn
        icon="save"
        label="Mostrar Datos"
        color="primary"
        @click="showInfo()"
      />
    </div>
    <!-- Aqui mostrare los datos del cliente  -->
    <div v-if="state.lShowData" class="row q-pt-md justify-center">
      {{ cliente }}
    </div>
  </div>
</template>

<script setup>
import { reactive } from "vue";

// import MiFecha from "components/MiFecha";

const cliente = reactive({
  nombre: "",
  apellido: "",
  calle: "",
  numext: "",
  numint: "",
  colonia: "",
  fnac: "",
});
const state = reactive({
  lShowData: false,
});
cliente.nombre = "nacho";

function showInfo() {
  state.lShowData = !state.lShowData;
}
</script>
