<template>
  <div class="q-ma-xs q-gutter-xs">
    <div class="text-h4 q-mb-sm">Agregar Cliente</div>
    <div class="row q-gutter-x-sm">
      <q-input outlined dense autofocus label="Nombre" v-model="nombre" />
      <q-input outlined dense label="Apellido" v-model="apellido" />
    </div>
    <div class="row q-gutter-x-sm">
      <q-input outlined dense label="Calle" v-model="calle" />
      <q-input outlined dense label="Numero Exterior" v-model="numext" />
      <q-input outlined dense label="Numero Interior" v-model="numint" />
      <q-input outlined dense label="Colonia" v-model="colonia" />
    </div>
  </div>
</template>

<script>
import { ref } from "vue";

export default {
  setup() {
    const nombre = ref("");
    const apellido = ref("");
    const calle = ref("");
    const numint = ref("");
    const numext = ref("");
    const colonia = ref("");
    nombre.value = "Nacho";
    apellido.value = "Gutierrez";
    return {
      nombre,
      apellido,
      calle,
      numint,
      numext,
      colonia,
    };
  },
};
</script>
