<template>
  <q-page class="flex flex-center">
    <q-btn color="red" icon-="mail" label="Enviar Correo" />
    <div>q.platform es : {{ $q.platform }}</div>
    <img
      alt="Quasar logo"
      src="~assets/quasar-logo-vertical.svg"
      style="width: 200px; height: 200px"
    />
  </q-page>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "IndexPage",
});
</script>
