<template>
  <q-input v-model="mydate" outlined dense>
    <template v-slot:append>
      <q-icon name="event" class="cursor-pointer">
        <q-popup-proxy ref="qpopup1">
          <q-date
            v-model="mydate"
            mask="MM-DD-YY"
            today-btn
            @update:modelValue="setdate"
          >
          </q-date>
        </q-popup-proxy>
      </q-icon>
    </template>
  </q-input>
</template>

<script setup>
import { ref } from "vue";
const props = defineProps({
  modelValue: {},
});
const emit = defineEmits(["mievento"]);
const qpopup1 = ref(null);
const mydate = ref("");
function setdate() {
  qpopup1.value.hide();

  emit("update:modelValue", "12-03-1970");
  // console.log(mydate.value);
  // modelValue = "12-03-1970";
  // emit("mievento");
}
</script>
