<template>
  <input
    :value="modelValue"
    @input="$emit('update:modelValue', $event.target.value)"
  />
</template>

<script setup>
// Example Taken from:
// https://dev.to/caio2k/working-with-v-model-in-vue-3-3791
// https://learnvue.co/tutorials/v-model-guide
// https://vuejs.org/guide/components/events.html#usage-with-v-model

/*
defineProps({
  modelValue: String,
});
let emit = defineEmits(["update:modelValue"]);
*/

defineProps(["modelValue"]);
defineEmits(["update:modelValue"]);
</script>
