<template>
  <input ref="input1" type="text" :value="modelValue" @input="emitirValor" />
</template>

<script setup>
import { ref } from "vue";
defineProps({
  modelValue: String,
});
const input1 = ref("");
let emit = defineEmits(["update:modelValue"]);

function emitirValor() {
  // input1 is the html element for the input
  emit("update:modelValue", input1.value.value);
}
</script>
