<template>
  <q-input v-model="myvalue">
    <template v-slot:append>
      <q-icon name="event" class="cursor-pointer">
        <q-popup-proxy ref="qpopup3">
          <q-date
            v-model="myvalue"
            today-btn
            mask="DD-MM-YYYY"
            @update:modelValue="qpopup3.hide()"
          >
          </q-date>
        </q-popup-proxy>
      </q-icon>
    </template>
  </q-input>
</template>

<script setup>
/*
 Example Taken from:
 https://vuejs.org/guide/components/events.html#usage-with-v-model
*/

import { ref, computed } from "vue";
const props = defineProps(["modelValue"]);
const emit = defineEmits(["update:modelValue"]);
const qpopup3 = ref(null);

const myvalue = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    emit("update:modelValue", value);
  },
});
</script>
