<template>
  <q-input ref="inputRef" v-model="formattedValue" outlined label="Amount" />
</template>

<script>
import { useCurrencyInput } from "vue-currency-input";
import { watch } from "vue";

// Entender al 100% este codigo
export default {
  name: "QCurrencyInput",
  props: {
    modelValue: Number,
    options: Object,
  },
  setup(props) {
    // Importar de useCurrencyInput las variables: inputref, formattedValue y la funcion setValue
    const { inputRef, formattedValue, setValue } = useCurrencyInput(
      props.options
    );
    watch(
      () => props.modelValue,
      (value) => {
        setValue(value);
      }
    );
    // Regresar las variables disponibles para el template: inputRef y formattedValue

    return { inputRef, formattedValue };
  },
};
</script>
